.con-imagen {
    display: flex;
    border-width: 2px;
    border-right-color: black;
}

.imagen {
    padding-left: 5px;
    padding-right: 10px;
}

.medio {
    padding-left: 10px;
    padding-right: 5px;
}

.parte {
    border-width: 2px;
    border-left-color: black;
}

.receta {
    display: flex;
}

.raro {
    animation: blinker 2s linear infinite;
}
.tarea {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: example 4s infinite;
    text-align: center;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px; border-style: dashed;}
    25%  {background-color:yellow; left:200px; top:0px; border-style: dotted;}
    50%  {background-color:blue; left:200px; top:200px; border-style: groove;}
    75%  {background-color:green; left:0px; top:200px; border-style: ridge;}
    100% {background-color:red; left:0px; top:0px; border-style: dashed;}
}
@keyframes blinker {
    0%   {color:black;}
    25%  {color:gray;}
    50%  {color:white;}
    75%  {color:gray;}
    100% {color:black;}
}