.con-imagen {
    display: flex;
    border-width: 2px;
    border-right-color: black;
}

.imagen {
    padding-left: 5px;
    padding-right: 10px;
}

.medio {
    padding-left: 10px;
    padding-right: 5px;
}

.parte {
    border-width: 2px;
    border-left-color: black;
}

.receta {
    display: flex;
}

.raro {
    animation: blinker 2s linear infinite;
}
/* .tarea {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
    text-align: center;
} */
@keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
}
@keyframes blinker {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
}